{{#partial "title"}}Gallery: {{name}}{{/partial}}
{{#partial "header"}}
<style type="text/css">
.columns {
    overflow: auto;
}
.main_content {
    padding: 0;
}
.main_content h2 {
    padding-left: 10px;
}
#gallery_list {
    width: 20%;
    float: left;
}
#gallery_list ul {
    margin: 0;
    padding: 0;
}
#gallery_list ul li {
    margin: 0;
    padding: 10px;
    list-style-type: none;
    background-color: #eee;
    border-top: 1px solid #999;
}
#images {
    width: 80%;
    float: right;
    font-size: 0;
}
#images div.image {
    display: inline-block;
}
#images div.image img {
    width: 100%;
}
</style>
{{/partial}}
{{#partial "content"}}
<div class="columns">
    <div id="gallery_list">
        <ul>
            {{#if has_parent}}
            <li><a href="/gallery/{{parent}}">..</a></li>
            {{/if}}
            {{#each sub_galleries}}
            <li><a href="/gallery/{{path}}">{{name}}</a></li>
            {{/each}}
        </ul>
    </div>

    <div id="images">
        {{#each images}}
        <div class="image" data-hash="{{hash}}" data-width="{{width}}" data-height="{{height}}">
            <img src="/image/{{hash}}/thumb" />
        </div>
        {{/each}}
    </div>
</div>
<script type="text/javascript">
var updateBatch = function(workingSet, height) {
    for (var i = 0; i < workingSet.length; i++) {
        var image = workingSet[i],
            width = image.aspectRatio * height - 1;
        image.image.style.width = width + "px";
        image.image.style.height = height + "px";
    }
};
var updateImageSizes = function() {
    console.log("updateImageSizes");

    var containerWidth = document.querySelector("#images").offsetWidth;

    var images = document.querySelectorAll(".image");
    var aspectSum = 0;
    var workingSet = [],
        prevWorkingSet = null;
    var maxHeight = 200;
    for (var i = 0; i < images.length; i++) {
        var image = images[i],
            nativeWidth = +image.dataset["width"],
            nativeHeight = +image.dataset["height"],
            aspectRatio = nativeWidth/nativeHeight;

        workingSet.push({
            image: image,
            aspectRatio: aspectRatio
        });

        aspectSum += aspectRatio;

        var targetHeight = containerWidth/aspectSum;
        if (targetHeight <= maxHeight) {
            updateBatch(workingSet, targetHeight);
            aspectSum = 0;
            prevWorkingSet = workingSet;
            workingSet = [];
        }
    }

    if (prevWorkingSet !== null) {
        var workingSet = prevWorkingSet.concat(workingSet);
        var aspectSum = 0;
        for (var i = 0; i < workingSet.length; i++) {
            aspectSum += workingSet[i].aspectRatio;
        }

        var targetHeight = containerWidth/aspectSum;
        updateBatch(workingSet, targetHeight);
    } else {
        updateBatch(workingSet, 256);
    }
};

var createLightbox = function() {
    var shade = document.createElement("DIV");
    shade.style.position = "fixed";
    shade.style.left = "0";
    shade.style.top = "0";
    shade.style.width = "100%";
    shade.style.height = "100%";
    shade.style.backgroundColor = "rgba(0, 0, 0, 0.5)";
    shade.style.display = "none";
    shade.addEventListener("click", function(e) {
        obj.hide();
        e.preventDefault();
    });
    document.body.appendChild(shade);

    var wrapper = document.createElement("DIV");
    wrapper.style.position = "absolute";
    wrapper.style.width = "80%";
    wrapper.style.height = "80%";
    wrapper.style.left = "10%";
    wrapper.style.top = "10%";
    shade.appendChild(wrapper);

    var image = document.createElement("IMG");
    image.style.display = "block";
    image.style.margin = "0 auto";
    image.addEventListener("click", function(e) {
        if (e.clientX > document.body.offsetWidth/2) {
            console.log("next click");
            obj.next();
        } else {
            console.log("prev click");
            obj.previous();
        }

        e.stopPropagation();
        e.preventDefault();
    });
    wrapper.appendChild(image);

    var obj = {};
    obj.current = null;
    obj.visible = false;

    obj.findPosition = function(hash) {
        for (var i = 0; i < this.navigationList.length; i++) {
            if (this.navigationList[i].hash == hash) {
                return i;
            }
        }
    };

    obj.setImage = function(hash, width, height) {
        this.current = hash;

        var availableWidth = wrapper.offsetWidth,
            availableHeight = wrapper.offsetHeight;

        console.log("availableWidth=" + availableWidth + " availableHeight=" + availableHeight);

        var currentWidth = width,
            currentHeight = height,
            aspectRatio = width / height;
        if (availableWidth < currentWidth) {
            currentWidth = availableWidth;
            currentHeight = currentWidth / aspectRatio;
        }
        if (availableHeight < currentHeight) {
            currentHeight = availableHeight;
            currentWidth = currentHeight * aspectRatio;
        }

        var preloader = new Image();
        preloader.addEventListener("load", function() {
            image.style.width = currentWidth + "px";
            image.style.height = currentHeight + "px";
            image.src = "/image/" + hash + "/preview";
        });
        preloader.src = "/image/" + hash + "/preview";
    };
    obj.show = function() {
        this.visible = true;
        shade.style.display = "block";
    };
    obj.hide = function() {
        this.visible = false;
        shade.style.display = "none";
    };
    obj.next = function() {
        if (!this.visible) {
            return;
        }

        var pos = this.findPosition(this.current);
        if (typeof pos !== "undefined") {
            var targetPos = pos+1;
            if (targetPos >= this.navigationList.length) {
                targetPos = 0;
            }

            var image = this.navigationList[targetPos];
            this.setImage(image.hash, image.width, image.height);
        }
    };
    obj.previous = function() {
        if (!this.visible) {
            return;
        }

        var pos = this.findPosition(this.current);
        if (typeof pos !== "undefined") {
            var targetPos = pos-1;
            if (targetPos < 0) {
                targetPos = this.navigationList.length-1;
            }

            var image = this.navigationList[targetPos];
            this.setImage(image.hash, image.width, image.height);
        }
    };

    return obj;
};

window.addEventListener("load", function() {
    updateImageSizes();

    var lightbox = createLightbox();

    document.addEventListener("keyup", function(e) {
        console.log(e);
        if (e.keyCode == 39) { // right
            lightbox.next();
        } else if (e.keyCode == 37) { // left
            lightbox.previous();
        }
    });

    var images = document.querySelectorAll(".image");
    var navigationList = [];
    for (var i = 0; i < images.length; i++) {
        var image = images[i];
        navigationList.push({
            hash: image.dataset["hash"],
            width: +image.dataset["width"],
            height: +image.dataset["height"]
        });
        image.addEventListener("click", (function(image) {
            return function(e) {
                var hash = image.dataset["hash"],
                    width = +image.dataset["width"],
                    height = +image.dataset["height"];
                lightbox.show();
                lightbox.setImage(hash, width, height);
                e.preventDefault();
            };
        })(image));
    }

    lightbox.navigationList = navigationList;
});

updateImageSizes();

window.addEventListener("resize", updateImageSizes);
</script>
{{/partial}}
{{> layout}}
